.card-text-limit{
  overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 2; /* number of lines to show */
   -webkit-box-orient: vertical;
}
.card-image {
    width: 100%;
    height: 25vw;
    object-fit: cover;
}

.dark-mode {
  background-color: black;
  color: white;
}


.bs-example{
    	margin: 20px;
    }
